* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif; 
    background-color: var(--dark-blue);
  }

  :root {
    --dark-blue: #101728;
    --light-blue: #BCE5E5;
    --vermei: #c70a0a;
    --green: #149410;
    --gre: #97fcfc;
    --shadow: #8da2b6;
    --white: #f4f4f4;
}

  body {
    font-family: "Rubik", sans-serif;
    background-color: var(--light-blue);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--light-blue);
    color: var(--white);
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 8px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    width: 150px;
    margin: 10px;
    text-align: center;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    align-items: center;
}

.team-member p {
  margin: 5px 0;
}
