* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-blue);
  }
  
  :root {
    --dark-blue: #101728;
    --light-blue: #BCE5E5;
  }
  .site{
    width: 1440px;
    margin: auto;
    height: 100%;
  }
  body {
   background-color: var(--dark-blue);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    display: grid;    
  }
  
  
  header {
    margin-top: 0.5rem;
    background-color: var(--secondary-color);
    padding: 10px 20px ;
    display: flex;
    align-items: center;
    gap:380px
    
  }
  
  div.logo{
    display: flex;
    align-items: center;
    margin-left: 3rem;
  }
  .navbar {
  
    
    
  }
  
  .nav-links {
    display: flex;
    gap: 50px;
    color: #ffff;
  
  }
 
  .nav-links li a{
    color: #fff ;
    text-decoration: none;
    font-size: 25px;
  }

  .nav-links li a:hover{
    color: white;
}

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 1440px;
  }
  
  main h1{
    color: black;
  
  }
  
  .img{
   margin-left: 200px;
   
  }
  
  .bt{
    margin-top: -18rem;
    margin-left: -65rem;
    
    
  
  }
  
  .imgs{
    display: flex;
    margin-top: -100px;
  }
  
  .coral{
    width: 2000000px;
    height: 150px;
   margin-left: -550px;
  }
 
  
  #botao{
    background: linear-gradient(to right, #800080, #00FFFF);

              border: none; 
              color: black; 
              padding: 15px 30px; 
              text-align: center; 
              text-decoration: none; 
              display: inline-block; 
              font-size: 16px; 
              margin: 4px 2px; 
              cursor: pointer; 
              border-radius: 50px; 
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
              transition: all 0.3s ease; 
              width: 14rem;
              margin-top: 1rem;
  
  }

  #botao:hover{
    cursor: pointer;
    color: white;
    width: 16rem;
   
  }