* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-blue);
    font-family: "Lexend Deca", sans-serif;
  }
  
  :root {
    --dark-blue: #101728;
    --light-blue: #BCE5E5;
  }
  .conteiner{
    max-width:1440px;
    margin: 0 auto;
    height:100%;
    display: flex;
    display: flex;
    flex-direction: row; /* Ou 'column' em telas menores */
    justify-content: space-between;

    
    
  }

  header{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  header img{
    margin-left: 150px;
    
  

  }
  body{
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-color: var(--dark-blue);
    
    
  }

  main{
    height: calc(100vh - 84px);
    margin: 0 auto;
  }

  .img {
    max-width: 1440px;
    margin-inline: auto;
  }

  .img img{
    padding: none;
    padding-bottom: none;
  }

  .nav_bar{
   margin-top: 20px;
   margin-right: 70px;
   

  }
  .nav_links{
    display: flex;
    gap: 100px;
    
  }
  .nav_links li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    

  }

  .nav_links li a:hover{
    color: var(--light-blue);
    font-size: 32px;
    cursor: pointer;
  }


  .linha{
    width: 100%;      
    height: 2px;       
    background-color: white;  
    margin: 20px 0; 
    margin-top: 4px;
  }

  .bt{
    margin-left: 75px;
     margin-top: 8rem;
 
   }

   
   #botao{
     background: linear-gradient(to right, #800080, #00FFFF);
     margin-bottom: -50000px;
     border: none; 
     color: black; 
     padding: 15px 30px; 
     text-align: center; 
     text-decoration: none; 
     display: inline-block; 
     font-size: 16px; 
     margin: 4px 2px; 
     cursor: pointer; 
     border-radius: 50px; 
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
     transition: all 0.3s ease; 
     width: 250px;
   
   }
   #botao:hover{
     cursor: pointer;
     color: white;
     width: 300px;
   }
   #ondas{
    display: inline-block;
     margin-top: -500px;
     width: 100%;
     height: 400px;
     margin-bottom: 130px;
     width: 550px;
     margin-left: 25px;
    
     
   }
   #corall{
     width: 540px;
     margin-left: 58%;
     margin-top: 25px;
   }

   .img h1{
    margin-top: -460px;
    margin-left: 100px;
    color: #fff;
    font-size: 90px;
  }

  #bolinha{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 90%; 
    max-width: 300px;
    
  }

  #divizinha{
    height: calc(100vh - 84px);
    margin: 0 auto;
    margin-inline: auto;
   
   
  }