* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-blue);
  
    
    
   
  }
  
  :root {
    --dark-blue: #101728;
    --light-blue: #BCE5E5;
  }
  
  body {
   background-color: var(--dark-blue);
   max-width: 1440px;
    height: auto;
    width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    display: grid;    
  }
  
  
  header {
    margin-top: 0.5rem;
    background-color: var(--secondary-color);
    padding: 10px 20px ;
    display: flex;
    align-items: center;
    gap: 600px;
  }
  
  div.logo{
    display: flex;
    align-items: center;
    margin-bottom: -3rem;
    margin-left: 3rem;
  }
  .navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    display:flex;
    margin-left: -15rem;
    margin-bottom: -2.5rem;
  }
  
  .nav-links {
    display: flex;
    gap: 50px;
    color: #ffff;
  
  }
 
  .nav-links li {
   
    display: flex;
    gap:50px
  }
  .nav-links li a{
    color: #fff ;
    text-decoration: none;
    font-size: 25px;
  }

  .nav-links li a:hover {
    color: white;
    cursor: pointer;
    font-size: 20rem;
}

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 1440px;
  }
  
  main h1{
    color: black;
  
  }
  
  .img{
   
   margin-right: 48rem;
   padding:2rem;
   margin-top: 19rem;
   
  
   
  
  }
  
  .bt{
    margin-top: -18rem;
    margin-left: -65rem;
    
    
  
  }
  
  .imgb{
    margin-top: -27rem;
  }
  
  .corall{
    
    margin-top: -30rem;
   margin-left: 30rem;
  }
  #imgc{
    width: 65rem;
  }
  
  #onda{
    width: 80rem;
  }
  
  #botao{
    background: linear-gradient(to right, #800080, #00FFFF);

              border: none; 
              color: black; 
              padding: 15px 30px; 
              text-align: center; 
              text-decoration: none; 
              display: inline-block; 
              font-size: 16px; 
              margin: 4px 2px; 
              cursor: pointer; 
              border-radius: 50px; 
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
              transition: all 0.3s ease; 
              width: 14rem;
              margin-top: 1rem;
  
  }

  #botao:hover{
    cursor: pointer;
    color: white;
    width: 16rem;
   
  }