* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    background-color: var(--dark-blue);
  }

  :root {
    --dark-blue: #101728;
    --light-blue: #BCE5E5;
  }

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direita > h1 {
    color: white;
    font-size: 30px;
    display: flex;
    text-align: center;
    margin-top: -100px;
    padding-bottom: 50px;
}

.dados > input {
    height: 60px;
    width: 100%;
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid white;
    background-color: #00273b;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #ffff;
    font-size: 20px;

}

input::placeholder {
    color: white;
    opacity: 1;
}

.botao {
    width: 50px;
}

button {
   
    border: none; 
    color: var(--dark-blue); 
    text-align: center; 
    text-decoration: none; 
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 16px;  
    cursor: pointer;  
    background-color: var(--light-blue);
    margin-top: 65px;
    border-radius: 20px;
    width:340px;
    height: 80px;
    font-size: 25px;
    font-weight: bolder;
}

.esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
}
