* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Lexend Deca", sans-serif;



  }
body{
    background-color: var(--dark-blue);
}
main{
    display: flex;
   
}
.conteiner{
    max-width: 1440px;
    margin: 0;
    height: auto;
   }
  :root {
    --dark-blue: #101728;
    --light-blue: #BCE5E5;
  }

  .nav_bar{
    
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100svh;
    width: 150px;
    background-color: var(--light-blue);
    border-radius: 5px;
   
  }
  .nav_links{
    margin-top: 20px;
    display: grid;
    gap: 50px;
  }
  .nav_links li {
    
    text-decoration: none;
    list-style-type: none;
  }

  .nav_links li a{
   color: var(--light-blue);
    text-decoration: none;

  }

  .nav_links div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 80px;
    border-radius: 20px;
    background-color: var(--dark-blue);
  }

  #e{
    color: var(--dark-blue);
  }

  .nav_links a img{
    background-color: var(--light-blue);
    
    
  }
   
  #a_img{
    margin-left: -50px;
  }

  .conteudo img{
    height:140px ;
    width: 280px;
    margin-left: 60px;
    margin-top: 68px;
  }

  .texto img{
    height:140px ;
    width: 280px;
    margin-left: 60px;
    margin-top: 68px;
  }

  #h2{
    color: var(--light-blue);
    margin-left: 200px;
    margin-top: 150px;
  }

  #h2_2{
    color: var(--light-blue);
    margin-left: 200px;
    margin-top: 80px;
  }

  #t{
    color: var(--light-blue);
    margin-top: 50px ;
    margin-left: 60px;
    text-transform: uppercase;
  }
  #a{
    height: 180px;
    margin-top: 100px;
    margin-left: -350px;
  }
 #b{
   margin-top:-40px;
   height: 180px;


 }
  #c{
    margin-left: -285px;
    margin-bottom: -400px;
    height: 180px;

  }

  ee{
    width: 300px;
    height: 100px;
    background-color: var(--light-blue);
    margin-top:330px;
    border: none;
    margin-left: -1px;
  }

  #eee{
    width: 1300px;
    height: 120px;
    background: var(--light-blue);
    margin-top:215px;
    border: none;
    margin-left: -1px;
    margin-bottom: -110px;
    border-radius-end: 10px;
   
  }

  #algo{
    margin-top: 20px;
    margin-left: 80px;
    color: var(--light-blue);
    margin-bottom: -130px;
  }

  #eee h2{
    margin-left: 500px;
    margin-top: -130px;
    
  }

  #h22{
    color: var(--light-blue);
    margin-top: 200px;
    margin-left: 80px;
  }